body {
	font-family:sans-serif;
	font-size:11px;
}

#pageHeader {
	padding-bottom:10px;
	height: 100px;
}

#currentView {
	float:left;
	vertical-align:bottom;
}
#headerSpacer {
	width:auto;
}

#logo {
	float: right;
}

#content {
	width:auto;
}

#viewTitle {
	color:49aec7;
	font-size:1.4em;
	font-weight:bold;
}

#customerSubdivision{
	font-size:2.0em;
	font-weight:bold;
	color:#3c3c3c;
}

#customerSubdivision div{
	float:left;
}

#division:before {
	content: " - ";
}

#period {
	color:#656a6c;
	font-size:1.4em;
	float:left;
	width: auto;
}
#period div {
	float:left;
}
#periodEnd:before {
	content: " - ";
}

table {
	text-align: left;
}
thead tr.header0{
	background-color:#f3f3f3;
	font-weight:bold;
	font-size:1.1em;
	color:#6d7274;
}
thead tr.header1{
	background-color:#eaeaea;
	color:#828687;
}

thead tr.header2{
	color:#828687;
}

tbody tr:nth-child(even) {
 background-color: #f2f8fa;
}

#againstBudget div.highlight {
	color:#0091b4;
	padding:10px;
	border: 1px solid #ccc;
	float:left;
}
#againstBudget div.highlight div.value {
	font-size:6.0em;
}
#againstBudget div.highlight div.caption {
	width:100%;
	text-align: justify;
	text-justify: inter-word;
}

div.PerformanceOverviewChart {
	width: auto;
	
}

div.PerformanceOverviewChart div.subTitle {
	width: 100%;
	background-color: #eaeaea;
}

div.chart {
	float: left;
}